/* General  */
.vheight-100 {
  min-height: 100vh;
  padding-top: 3.5rem;
}

/* CSS for components */

/* Sidebar */

.sidebar-profile {
  background-color: green;
  color: white;
}

.sidebar-router {
  background-color: darkblue;
  color: white;
  min-width: 20%;
}

/* Main component view */

.view {
  background-color: pink;
}