@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --black-shadows: #baa7b0;
  --heliotrope-gray: #b2abbf;
  --cadet-blue-crayola: #b1b5c8;
  --beau-blue: #bfd5e2;
  --powder-blue: #c7ebf0;

  /* Text color */
  --xiketic: #0d0221;
}

/* General  */
.vheight-100 {
  min-height: 100vh;
  padding-top: 3.5rem;
}

/* CSS for components */

/* Sidebar */

/* .sidebar-profile {
  background-color: green;
  color: white;
} */

.sidebar-router {
  /* background-color: darkblue; */
  background-color: #fff;
  color: white;
  min-width: 20%;
}

/* Main component view */

.view {
  /* background-color: pink; */
  background-color: #f5f7fb;
}

/* .view-title { */
/* background-color: burlywood; */
/* } */

/* Profile settings */
.profile-settings {
  position: absolute;
  min-width: 10rem;
  top: 10px;
  right: 20px;
  z-index: 1;
}

/* Bootstrap custom */

/* Button color */
.btn-green {
  background-color: var(--beau-blue);
  border-color: var(--beau-blue);
}

.btn-green:hover {
  filter: brightness(90%)
}

/* Navbar color */
.bg-blue {
  background-color: var(--powder-blue);
}